:root {
    --main-color: #10cab7;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "work sans" , sans-serif;
    background: #dadad5;
}
html {
    scroll-behavior: smooth;
}
section {
    width: 80%;
    margin: auto ;
    min-height: 100vh;
    padding-top: 20px;
}
/* start components  */
.main-heading {
    color: #ebeced;
    font-size: 100px;
    font-weight: 800;
    text-align: center;
    margin: 0;
}
.main-heading + p {
    margin-top: -15px;
    text-align: center;
    color: #777;
}
@media (max-width:760px) {
    .main-heading {
        font-size: 60px;
    }
    .main-heading + p {
        margin-top: -10px;
    }
}
/* end components  */
/* star header */
.header .container {
    width: 80%;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header .container .logo {
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    color: #000;
}
.header .container .links .logo-menu {
    width: 30px;
}
.header .container .links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    top: calc(100% + 10px);
    position: absolute;
    right: 0;
    min-width: 200px;
    background: #f6f6f6;
    display: none;
    z-index: 1;
}
.header .container .links:hover ul {
    display: block;
}
.header .container .links ul::before {
    content: "";
    border-width: 10px ;
    border-style: solid ;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .container .links ul li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #333;
    transition: .3s;
}
.header .container .links ul li a:hover {
    padding-left: 25px;
} 
.header .container .links ul li a {
    border-bottom: 1px solid #DDD;
}
/* end header */
/* star landing */
.landing {
    background: url(../img/w5.jpg);
    background-size: cover;
    height: calc(100vh - 75px);
    position: relative;
}
.landing .text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 300px;
    text-align: center;
}
.landing .text-box h1 {
    color: var(--main-color);
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 2px;
}
.landing .text-box p {
    color: #fff;
    font-size: 20px;
    line-height: 1.8;
}
@media (max-width:375px) {
    .landing .text-box h1 {
        font-size: 35px;
    }
    .landing .text-box p {
        font-size: 15px;
    }
}
/* end landing */

/* start features */
.features {
    padding-top: 60px;
    padding-bottom: 60px;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    grid-gap: 50px;
    background: #f0ecec70;
    border-bottom: 5px solid #2c4755ce;
}
.features .container .feat {
    padding: 20px;
    text-align: center;
}
.features .container .feat img {
    width: 80px;
}
.features .container .feat h2 {
    font-weight: 800;
}
.features .container .feat p {
    margin: 20px 0;
    color: #777;
    line-height: 1.9;
}
@media (max-width:375px) {
    .features .container {
        grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
    }
    .features .container .feat img {
        width: 70px;
    }
}
/* end features */

/* start services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .container .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 10px;
    margin-top: 80px;
    background: #f0ecec70;
    border-bottom: 5px solid #2c4755ce;

}
.services .container .services-content .col .srv .icon {
    width: 50px;
    height: 40px;
}
.services .container .services-content .col .border {
    width: 100%;
    height: 100%;
    right: 0;
    position: relative;
    background: rgb(209, 208, 208);
    border-radius: 50% 0 0 50%;
    z-index: 2;
}
.services .container .services-content .col .border::before {
    content: '';
    position: absolute;
    width: 5px;
    height: 100%;
    top: 0;
    right: 0;
    background: #2c4755ce;
    z-index: 1;
}
.services .container .services-content .col .srv {
    display: flex;
    margin: 30px;
}
.services .container .services-content .col .srv .text h3 {
    margin: 20px;
}
.services .container .services-content .col .srv .text p {
    line-height: 1.7;
    color: #777;
}
@media (max-width:375px) {
    .services .container .services-content {
        grid-template-columns: repeat(auto-fill , minmax(200px , 1fr));
}
/* end services */

/* start portfolio */
.portfolio {
    padding-top: 70px;
    padding-bottom: 70px;
}
.portfolio .container .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 20px;
    margin-top: 80px;
    background: #f0ecec70;
    border-bottom: 5px solid #2c4755ce;
}
.portfolio .container .portfolio-content .card {
    margin-top: 50px;
    text-align: center;

}
.portfolio .container .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .container .portfolio-content .card .info h3 {
    margin: 10px;
}
.portfolio .container .portfolio-content .card .info p {
    margin: 10px;
    line-height: 1.8;
    color: #777;
}
@media (max-width:375px) {
    .portfolio .container .portfolio-content {
        grid-template-columns: repeat(auto-fill , minmax(150px , 1fr));
}
/* end portfolio */
 
/* start about */
.about {
    padding-top: 70px;
    padding-bottom: 70px; 
}
.about .container .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px , 1fr));
    gap: 140px;
    margin-top: 80px;
    background: #f0ecec70;
    border-bottom: 5px solid #2c4755ce; 
}
.about .container .about-content .images img {
    max-width: 100%;
}
.about .container .about-content .text p {
    padding: 20px;
    line-height: 1.7;
    color: #777;
}
@media (max-width:375px) {
    .about .container .about-content {
        grid-template-columns: repeat(auto-fill , minmax(150px , 1fr));
        gap: 40px;
}
/* end about */

/* start contact */
.contact {
    padding-top: 70px;
    padding-bottom: 70px;
    margin-top: 80px;
}
.contact .container .info {
    margin-top: 80px;
    text-align: center;
    background: #f0ecec70;
    border-bottom: 5px solid #2c4755ce;
    padding-top: 20px;
}
.contact .container .info .lable {
    font-size: 35px;
    font-weight: 800;
    color: #333;
    margin: 30px;
}
.contact .container .info .links {
    font-size: 35px;
    font-weight: 800;
    color: #10cab7;
    text-decoration: none;
}
.contact .container .info .soi {
    margin: 30px;
}
.contact .container .info .soi li {
    display: inline-block;
}
.contact .container .info .soi li a {
    margin-left: 10px;
}
.contact .container .info .soi li a img {
    transform: scale(.5);
}
@media (max-width:670px) {
    .contact .container .info .lable ,
    .contact .container .info .links {
        font-size: 20px;
    }
}
/* end contact */

/* start footer */
.footer {
    background: rgb(76, 75, 75);
    color: #fff;
    padding: 30px 10px ;
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}
.footer span {
    font-weight: bold;
    color: #10cab7;
}
@media (max-width:670px) {
    .footer {
        font-size: 15px;
    }
}
/* end footer */